body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000000;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #0b0b0b;
}

.logo {
    color: #4fff8f;
    font-size: 22px;
}
.logo span {
    color: #00ff75;
}

.nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #00ff75, #007a3d);
}
.hero h1 {
    font-size: 38px;
}
.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.telegram-btn {
    background: #00ff75;
    padding: 12px 25px;
    border-radius: 40px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}

/* COUNTDOWN */
.countdown-box {
    background: rgba(0,0,0,0.3);
    padding: 20px;
    margin: 20px auto;
    width: 250px;
    border-radius: 10px;
}

/* MINING SECTION */
.mine-section {
    padding: 50px 20px;
    text-align: center;
}

.mine-btn {
    background: #00ff75;
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.mine-output {
    margin-top: 20px;
    font-size: 18px;
}

.boost-box button {
    margin: 5px;
    padding: 10px 20px;
    background: #007a3d;
    color: white;
    border: none;
    border-radius: 10px;
}

/* WITHDRAW */
.withdraw-section {
    text-align: center;
    padding: 50px 20px;
}
.withdraw-btn {
    background: #00ff75;
    border: none;
    padding: 15px 35px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

/* FOOTER */
footer {
    background: #0b0b0b;
    padding: 20px;
    text-align: center;
}
